body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 600px;
    /* border: 5px solid greenyellow; */
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./images/header-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    /* border: 3px green solid; */
    display: flex;
    justify-content: space-between;
}
.logo{
    color: aliceblue;
    font-size: 30px;
    padding-left: 200px;
    
}
.items{
    display: flex;
    align-items: center;
    padding-right: 30px;
    
}
.items li{
list-style: none;

}
.items a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding-right: 40px;

}
main{
    color: aliceblue;
    text-align: center;
    padding-top: 100px;
}
main button{
    color: red;
    border-radius: 15px;
    padding: 5px 10px;
}
button:hover{
    background-color: palevioletred;
    color: black;
}
section{
    height: 95vh;
    
    padding: 10rem 0;
    background-color: #ddd;
}
.row{
    /* width: 80%; */
    height: 300px;
    box-shadow: 10px 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    /* justify-content: center; */
    
}
.row1 .imgbox, .row2 .textbox{
width: 50%;

}
.row2 .imgbox, .row1 .textbox{
    width: 50%;
    
    }
.row1{
display: flex;

}
.row2{
    display: flex;
    flex-wrap: wrap;
    
}
.row1 img{
    width: 100%;
    height: 300px;
}
.row2 img{
    width: 100%;
    height: 300px;
}
.row .textbox{
    background-color: rgb(255, 255, 255);
    text-align: center;
    /* padding: 10px; */
    
}
.container{
    /* border: 3px solid red; */
    /* display: flex;
    justify-content: center; */
        padding-left: 150px;
        width: 80%;
        
    }
        
/* }
.row1 .textbox{
    width: 50%;
} */

/* ############## feature container############## */
.feature-container{
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}
.box{
    /* border: 3px red solid; */
    width: 20%;
    text-align: center;
    height: 200px;
    
}
.box1, .box3{
    background-color: black;
    color: aliceblue;
}
.box2{
    background-color: rgb(255, 0, 106);
    color: aliceblue;
}
footer{
    background-color: black;
    bottom: 0;
     /* position: absolute;  */
    color: aliceblue;
    text-align: center;
}
.social-icon i{
    margin: 10px;
    /* border: 3px red solid; */
    
}
footer p{
    /* border: 2px red solid; */
    margin-top: -3px;
    padding-bottom: 3px;
}